@model IEnumerable<IdentitySample.Models.Location>

@{
    ViewBag.Title = "Select Device";
}

<h2 style="text-align:right">Device Location</h2>

<h5>Room No:@ViewBag.room</h5>
<h6>Device ID: @ViewBag.device</h6>



@{
    int[, ,] devices = new int[8, 8, 2];
    for (int i = 1; i < 8; i++)
    {
        for (int j = 1; j < 8; j++)
        {
            devices[i, j, 1] = 0;
        }
    }
    foreach (var item in Model)
    {
        if (item.Row < 8 && item.Column < 8)
        {
            devices[item.Row, item.Column, 1] = item.Device;
        }


    }

    for (int i = 1; i < 8; i++)
    {
        for (int j = 1; j < 8; j++)
        {
            var did = devices[i, j, 1];
            if (did == ViewBag.device)
            {
               
                    <img class="img-thumbnail" src="~/Content/images/spc.gif" style="height:12.5%;width:12.5%" />
                
            }
            else if (devices[i, j, 1] != 0)
            {

                
                    <img class="img-thumbnail" src="~/Content/images/pc.png" style="height:12.5%;width:12.5%" />
                
            }
            else
            {
                <img class="img-thumbnail" src="~/Content/images/nopc.png" style="height:12.5%;width:12.5%" />
            }

           

        }
        <br />
    }

}
