@{
    ViewBag.Title = "About";
}

<div class="row-fluid">
    <br /><br />
    <div class="span12">
        <h3>This application is developed in SPL-2</h3>
        <h2>By Samrat Shamim, Rashedul Alom and Saimul Haque of BSSE 5th Batch</h2>
    </div>
</div>