@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2 style="text-align:right">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        Institute of Information Technology<br />
        University of Dhaka<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="admin@iit.du.ac.bd">admin@iit.du.ac.bd</a><br />
    </address>
</div>