<div style="background-color:lightblue;">

    <h1 style="text-align:right">If there is any problem on devices</h1>
    <h4 style="text-align:right">Please lodge complaint on</h4>
    <h2 style="text-align:right">IIT Problem Management System</h2>
</div>